h3 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 2em;
  color: white;
  margin: 0 1em 0 0;
}
div>label:first-of-type {
  padding: 0 1em 0 0;
}
.hide {
  display: none;
}
h3.not-good {
  color: yellow;
}

h3.bad {
  color: red;
}
form>div {
  display: flex;
}

form label {
  flex-basis: 100px;
}